<h1>{{ product.product_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'shopping:change_category' product.id %}" method="post">
{% csrf_token %}
{% for category in product.product_category_code_set.all %}
    <input type="radio" name="category" id="category{{ forloop.counter }}" value="{{ category.id }}">
    <label for="category{{ forloop.counter }}">{{ category.product_category }}</label><br>
{% endfor %}
<input type="submit" value="Change Category">
</form>